@import '../variables.scss';
@import './button';

@mixin accs-button($flat: false, $reactive: true) {
    @include unset;
    color: $base05;

    >* {
        border-radius: $radius;
        transition: $transition;
        background-color: transparent;
        box-shadow: none;
    }


    @if $reactive {

        &:focus>*,
        &.focused>* {
            @include button-focus;
        }

        &:hover>* {
            @include button-hover;
        }

        &:active,
        &.active,
        &.on,
        &:checked {
            >* {
                @include button-active;
            }
        }
    }
}
